:root{
    --text: #03170c;
    --background: #f6fef8;
    --primary: #31e36c;
    --secondary: #8adcaf;
    --accent: #64d999;
}

body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

main{
    min-height: 60vh;
    height: auto ;
}

.saludo{
    text-align: center;
}


.menu_principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hacer{
    /* background-color: var(--secondary); */
    padding: 20px;
    min-width: 50vw;
    border-radius: 30px;
}

.hacer_nota{
    width: auto;
    text-align: center;
}

.hacer_links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.hacer_links li{
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid var(--text);
}

.hacer_links li a{
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
    font-weight: bold;
}

.hacer_links li:hover{
    scale: 1.4;
    box-shadow: 5px 5px 10px var(--primary);
    transition: .5s;
}